.Presentational{
    margin-top: 2rem;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Presentational__header{
    margin-top: 2rem;
}
.Presentational__info{
    padding: 3rem;
}